{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Frogot Your Password{% endblock title %}

{% block content %}
<div class='container'>
    <div class='col-6'>
        <h1>Frogot Your Password</h1>
        <p>enter Your address email</p>
        <form  method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <br>
            <input type="submit", class='btn btn-success', value='Send me insdruction'>
        </form>
    </div>       
</div>

{% endblock content %}